<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">
    <div class="logo">Busking Station</div>
    <nav>
        <a href="#" th:href="@{/events}">Home</a>
    </nav>

    <div class="user-controls">
        <nav sec:authorize="isAnonymous()">
            <a th:href="@{/users/register}" class="nav-link">로그인</a>
        </nav>

        <nav sec:authorize="isAuthenticated()">
            <form id="logout-form" th:action="@{/users/logout}" method="post" style="display: none;"></form>

            <a href="javascript:void(0)"
               class="nav-link"
               onclick="if(confirm('로그아웃 하시겠습니까?')) document.getElementById('logout-form').submit();">
                로그아웃
            </a>
        </nav>
    </div>
</header>