server:
  port: 30003

spring:
  application:
    name: reservation-service

  datasource:
    url: jdbc:mysql://127.0.0.1:3306/ticket_reservations

  config:
    import: optional:configserver:http://localhost:8888

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/