server:
  port: 30002

spring:
  application:
    name: inventory-service

  datasource:
    url: jdbc:mysql://127.0.0.1:3306/ticket_inventories

  data:
    redis:
      host: localhost
      port: 6379

  config:
    import: optional:configserver:http://localhost:8888

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/