server:
  port: 30002

spring:
  application:
    name: inventory-service

  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/ticket_inventories}

  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888}

  data:
    redis:
      host: localhost
      port: 6379

  kafka:
    bootstrap-servers: localhost:9092
    listener:
      ack-mode: manual
    consumer:
      group-id: inventory-service-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      enable-auto-commit: false

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}

endpoints:
  ticket-reserve-busking-service:
    url: http://127.0.0.1:30001