server:
  port: 30000

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://127.0.0.1:3306/ticket_users

  config:
    import: optional:configserver:http://localhost:8888

  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: 0ydHRc8EG9P/RJDjjPbE8dezJ0IXc8z61Y7hDZRJKkkrDW81g9FPKb0XdU5Knun3kIBEabqtzGnsNSqbufv79g==
  expiration: 3600000   # 1시간