server:
  port: 30000

spring:
  application:
    name: user-service

  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/ticket_users}

  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888}

  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}