server:
  port: 30000

spring:
  application:
    name: user-service

  datasource:
    url: ${USER_DB_URL:jdbc:mysql://localhost:3306/ticket_users?rewriteBatchStatements=true}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${USER_DB_USERNAME:root}
    password: ${USER_DB_PASSWORD}

  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        default_batch_fetch_size: 100

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

app:
  redis:
    geo-key: "users:location"
    active-user-key: "user:active"
  jdbc:
    batch-size: 100

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}
