<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제하기</title>
    <script src="https://js.tosspayments.com/v2/standard"></script>
<!--    <script src="https://js.tosspayments.com/v1/payment-widget"></script>-->
</head>
<body>

<h1>결제 페이지</h1>
<p>주문 내용: <span th:text="${orderName}">티켓 예매</span></p>
<p>결제 금액: <span th:text="${amount}">0</span>원</p>

<button id="payment-button">결제하기</button>

<script th:inline="javascript">
    // 컨트롤러(Model)에서 전달받은 값들을 JS 변수로 변환
    const userId = [[${userId}]];
    const amountValue = [[${amount}]]
    const reservationId = [[${reservationId}]]
    const orderId = [[${orderId}]];
    const orderName = [[${orderName}]]

    const amount = {
        currency: "KRW",
        value: amountValue,
    };

    const clientKey = [[${clientKey}]];
    const customerKey = "customer_" + userId;
    const tossPayments = TossPayments(clientKey);
    const paymentButton = document.getElementById('payment-button');

    const payment = tossPayments.payment({
        customerKey,
    });

    paymentButton.addEventListener('click', () => {
        // 결제하기 버튼 클릭 시 SDK 실행
        payment.requestPayment({
            method: "CARD",
            amount,
            // (orderId는 PG사가 요구하는 고유한 문자열이어야 함)
            orderId: orderId,
            orderName: orderName,
            // 결제 성공 시 이동할 '승인' URL
            successUrl: 'http://localhost:8080/payments/success',
            failUrl: 'http://localhost:8080/payments/fail',
            customerEmail: "test@gmail.com",
            customerName: 'test',
            customerMobilePhone: "01012341234",
            card: {
                useEscrow: false,
                flowMode: "DEFAULT",
                useCardPoint: false,
                useAppCardOnly: false,
            },
        });
    });

</script>

</body>
</html>