<div class="tbl_wrp">
    <form class="form-horizontal form-custom"
          id="inventory-form"
          th:action="${inventory.inventoryId == null} ? @{/admin/events/{eventId}/inventories(eventId=${eventId})} : @{/admin/events/{eventId}/inventories/{inventoryId}(eventId=${eventId}, inventoryId=${inventory.inventoryId})}"
          th:method="${inventory.inventoryId == null} ? 'POST' : 'PUT'"
          th:object="${inventory}">

        <input type="hidden" th:field="${eventId}" />

        <div class="form-group">
            <label for="inventoryName" class="col-sm-2 control-label">좌석명</label>
            <div class="col-sm-10">
                <input type="text" class="form-control input-large" th:field="*{inventoryName}" placeholder="좌석명">
            </div>
        </div>

        <div class="form-group">
            <label for="price" class="col-sm-2 control-label">좌석 가격</label>
            <div class="col-sm-10">
                <input type="text" class="form-control input-large" th:field="*{price}" placeholder="좌석 가격">
            </div>
        </div>
    </form>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <button type="Submit" class="btn btn-dark btn-lg"
                    form="inventory-form"
                    th:text="${inventory.inventoryId == null} ? '등록' : '수정'">
                등록
            </button>
            <a class="btn btn-dark btn-lg" style="margin:10px;" th:href="@{/admin/events/{eventId}/inventories(eventId=${eventId})}">좌석 목록</a>
            <form th:if="${inventory.inventoryId != null}"
                  th:action="@{/admin/events/{eventId}/inventories/{inventoryId}(eventId=${eventId}, inventoryId=${inventory.inventoryId})}"
                  th:method="DELETE"
                  style="display: inline-block;"
                  onsubmit="return confirm('이 좌석을 정말 삭제하시겠습니까?');">

                <button type="submit" class="btn btn-dark btn-lg" style="margin:10px;">삭제</button>
            </form>
        </div>
    </div>
</div>

