server:
  port: 30004

spring:
  application:
    name: payment-service

  datasource:
    url: jdbc:mysql://127.0.0.1:3306/ticket_payments

  config:
    import: optional:configserver:http://localhost:8888

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

payment:
  client-key: test_ck_oEjb0gm23PL2kz61dln63pGwBJn5
  secret-key: test_sk_LkKEypNArWY0gB5nqpxe3lmeaxYG
  base-url: https://api.tosspayments.com/v1/payments
  confirm-endpoint: /confirm