server:
  port: 30004

spring:
  application:
    name: payment-service

  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/ticket_payments}

  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888}

  kafka:
    bootstrap-servers: localhost:9092

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}

payment:
  client-key: ${PAYMENT_CLIENT_KEY:test_ck_oEjb0gm23PL2kz61dln63pGwBJn5}
  secret-key: ${PAYMENT_SECRET_KEY:test_sk_LkKEypNArWY0gB5nqpxe3lmeaxYG}
  base-url: https://api.tosspayments.com
  confirm-endpoint: /confirm