server:
  port: 9090

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
      routes:
        - id: user-service
          uri: http://localhost:9000   # service-registry(Eureka)에 등록된 이름
          predicates:
            - Path=/users/**       # 요청 경로 패턴
        - id: event-service
          uri: http://localhost:9001
          predicates:
            - Path=/events/**
        - id: reservation-service
          uri: http://localhost:9003
          predicates:
            - Path=/reservations/**
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/