name: MSA Java CI/CD with Docker Compose

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        service: [service:busking, service:image, service:notification, service:payment, service:subscription, service:user, service:hot-busking, platform:gateway, platform:registry]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'

      - name: Build Microservices with Gradle
        run: |
          chmod +x ./gradlew
          ./gradlew :${{matrix.service}}:clean :${{matrix.service}}:build -x test

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          SERVICE_NAME=$(echo ${{ matrix.service }} | cut -d':' -f2)
          SERVICE_PATH=$(echo ${{ matrix.service }} | tr ':' '/')
          
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/tr-$SERVICE_NAME:latest $SERVICE_PATH
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/tr-$SERVICE_NAME:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/app
            docker compose pull
            docker compose up -d 
            docker image prune -f